@import "~@fortawesome/fontawesome-svg-core/styles.css";

.app-container {
  background-color: black;
}

/* alert component css */
.alert-container {
  position: fixed;
  top: 20px; /* Adjust the top position as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: 300px; /* Adjust the width as needed */
}
